*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    background-color: greenyellow;
    text-align: center;
    height: 80vh;
    width: 80%;
    margin: 0% auto;
    overflow-y: auto;
    border: 7px double red;
    border-radius: 200px 0px 200px 0px;
}
h6{
    font-size: 70px;
}
h1{
    color: red;
}
.well{
    color: white ;
}
.wel{
    color: greenyellow;
    font-size: 30px;
    padding: 30px;
    text-align: center;
    height: 30vh;
    width: 80%;
    margin: 0% auto;
    
}

main{
background-color: black;

}

.intro{
    background-color: transparent;
    color: greenyellow;
    text-align: center;
    height: 70vh;
    width: 80%;
    margin: 0% auto;
    overflow-y: auto;
    border: 7px double darkred;

    
}
.whereto{
    background-color: transparent;
    color: greenyellow;

    text-align: center;
    height: 80vh;
    width: 80%;
    margin: 0% auto;
    border: 7px double darkred;

    overflow-y: scroll;
}

.output{
    background-color: transparent;
    color: greenyellow;
    text-align: center;
    height: 80vh;
    width: 80%;
    margin: 0% auto;
    overflow-y: auto;
    border: 7px double darkred; 
}
.JavaScripSyntax{
    background-color: transparent;
    color: greenyellow;
    text-align: center;
    height: 80vh;
    width: 80%;
    margin: 0% auto;
    overflow-y: auto;
    border: 7px double darkred; 
}